La idea es que ustedes vayan resolviendo los ejercicios sin la necesidad de instalarse nada en sus computadoras. 
Antes que nada, creen una copia de este archivo en su ***Google Drive*** para tener permisos de edición, luego pueden compartirlo con quien quieran, tengan cuidado con los permisos al momento de compartir!!!!!!!. Si quieren, nos pueden compartir su documento a los docentes para que hagamos las correcciones y ayudemos con las dudas.

### Agustin: **agustin.otero@estudiantes.unahur.edu.ar** ###


En los bloques de código como el que les aparece aca abajo, se puede programar en Python, al pararse dentro del bloque, aparecerá un ícono de "*play*" en la esquina superior izquierda, "*clickeando*" en este ícono, se ejecuta el código escrito y se muestra la salida debajo, probemos:

Primero creamos una lista con distintos valores.

Se suele estilar que las listas tengan datos homogeneos, pero esta la posibilidad de tener datos de varios tipos en la misma lista.

Para crearla primero le damos el nombre como una variable, y al asignar el valor, en vez del dato solo, utilizaremos la nomenclatura de **[ ]** para indicar el comienzo y el fin de la lista, separando por comas **( , )** los valores.

In [ ]:
lista = [0,1,"hola",True,1]
print(lista)

[0, 1, 'hola', True, 1]

Para traer el valor de un solo elemento de la lista llamamos a la lista, y entre llaves el numero de orden del elemento que queremos invocar.

In [ ]:
print(lista[2])

hola

Para agregar un valor al final de la lista tenemos el comando **append()** que le tenemos que pasar por parametro el valor a colocar al final de la fila

In [ ]:
lista.append("adios")

print(lista)

[0, 1, 'hola', True, 1, 'adios']

En caso de que querramos insertar un dato en una posicion especifica de la lista tenemos el comando **insert(orden, dato)** y coloca el dato en la posicion indicada, corriendo los elementos una posicion a la derecha desde donde se coloca el nuevo dato.

In [ ]:
lista.insert(2,"solamente")

print(lista)

[0, 1, 'solamente', 'hola', True, 1, 'adios']

Para sacar elementos tenemos el comando **remove()** y **pop()** :

El comando **pop()** saca el ultimo elemento  de la lista y lo **devuelve** para su utilizacion, en caso de ser necesario.

In [ ]:
print(lista.pop())
print(lista)

adios
[0, 1, 'solamente', 'hola', True, 1]

El comando **remove()** lleva como parametro el elemento a sacar.

In [ ]:
pos = lista.index(1)
#guardo la posicion del primer 1
lista.remove(int(1))
#borro el primer 1
lista.remove(int(1))
#borro el segundo 1 

lista.insert(pos,1)
#inserto el 1 en la primera posicion
print(lista)

ValueError: ignored

In [ ]:
lista.remove(True)

print(lista)

Para un conjunto, le damos el nombre como una variable, y al asignar el valor, en vez del dato solo, utilizaremos la nomenclatura de **{ }** para indicar el comienzo y el fin de la lista, separando por comas **( , )** los valores.

In [ ]:
conjunto = {1,2,"hola",2,3.14}
print(conjunto)

{1, 2, 3.14, 'hola'}

No se puede invocar un solo valor del conjunto preguntado por el orde, ya que no tiene un orden definido, pero podemos "preguntar" sin hay un valor dentro del conjunto con la sentencia **in** devolviendo un valor booleano.

In [ ]:
print(conjunto[1])

TypeError: ignored

In [ ]:
"hola" in conjunto

False

Podemos agregar valores al conjunto con el metodo **add()** y sacar con el **discard()**

In [ ]:
conjunto.add("adios")

print(conjunto)

In [ ]:
conjunto.discard("hola")
print(conjunto)

Para crear un diccionario, primero le damos el nombre como una variable, y al asignar el valor utilizaremos la nomenclatura de **{ }** para indicar el comienzo y el fin del diccionario, separando por comas **( , )** los valores y separando con dos puntos **( : )** las keys de los valores.

In [ ]:
diccionario = {"agus" : 1708, "fer" : 1688}

print(diccionario)

{'agus': 1708, 'fer': 1688}

Para invocar un valor, tenemos que pedirlo por medio de la **key** asociada, no por oden.

In [ ]:
print(diccionario[1])

KeyError: ignored

In [ ]:
print(diccionario["agus"])

Para agregar un valor nuevo al diccionario, lo llamaremos y le pondremos la nueva **key** entre llaves e igualaremos al valor que queremos asociar.

In [ ]:
diccionario["melisa"] = 4502

print(diccionario)

Para sacar un valor, utilizaremos el metodo **pop()**.

In [ ]:
diccionario.pop("agus")

print(diccionario)

### **Ejercicio 1**

Considere las siguientes listas:

a = [5, 1, 4, 9, 0]

b = [3, 4, 5 ,6 ,7 ,8 , 9].extend([20, 21, 22])

c = [[1, 2], [3, 4, 5], [6, 7]]

d = ['perro', 'gato', 'jirafa', 'elefante']

e = ['a', a, 2 * a]

*Sin ejecutar los comandos, indicar cuál es el resultado y el tipo de las siguientes expresiones. A continuación, verificar sus respuestas el ejecutar los comandos.*

    a[2]
    b[9]
    c[1][2]
    e[0] == e[1]
    len(c)
    len(c[0])
    len(e)
    c[-1]
    d.index('jirafa')
    sorted(a)[2]
    complex(b[0], b[1])

### **Ejercicio 2**

Considere las siguientes asignaciones:

a = {5, 2, 3, 9, 4}

b = {3, 1}

c = {7, 5, 5, 1, 8, 6}

d = [6, 2, 4, 5, 5, 3, 1, 3, 7, 8]

e = {(2, 3), (3, 4), (4, 5)}

f = [{2, 3}, {3, 4}, {4, 5}]

Sin ejecutar los comandos, indicar cuál es el resultado y el tipo de las siguientes expresiones. A continuación, verificar sus respuestas el ejecutar los comandos.

    len(c)
    len(set(d))
    a & (b | c)
    (a & b) | c
    c - a
    max(e)
    f[0] < a
    set(range(4)) & a
    len(set('perro'))
    len({'perro'})

### **Ejercicio 3**

Considere las siguientes asignaciones:

a = {'a': 14, 'b': 23, 'c': 88}

b = {12: True, 55: False, -2: False}

c = dict()

d = {1: [2, 3, 4], 5: [6, 7, 8, 9], 10: [11]}

e = {2 + 3: 4, 5: 6 + 7, 8: 9, 10: 11 + 12}

Sin ejecutar los comandos, indicar cuál es el resultado y el tipo de las siguientes expresiones. A continuación, verificar sus respuestas el ejecutar los comandos.

    a['c']
    a[23]
    b[-2] or b[55]
    23 in a
    'a' in a
    5 in d[5]
    sum(b)
    len(c)
    len(d)
    len(d[1])
    len(b.values())
    len(e)
    sum(a.values())
    max(list(e))
    d[1] + d[5] + d[10]

### **Ejercicio 4**

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista y la muestre por pantalla.

In [ ]:
lista = ["matematicas", "fisica", "quimica", "lengua", "historia","plastica","informatica"]
print(lista)

['matematicas', 'fisica', 'quimica', 'lengua', 'historia', 'plastica', 'informatica']

### **Ejercicio 5**

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista y la muestre por pantalla el mensaje "Yo estudio **asignatura**", donde **asignatura** es cada una de las asignaturas de la lista.

In [ ]:
lista = ["matematicas", "fisica", "quimica", "lengua", "historia","plastica","informatica"]
print(f"Yo estudio {lista}")

Yo estudio ('matematicas', 'fisica', 'quimica', 'lengua', 'historia', 'plastica', 'informatica')

### **Ejercicio 6**

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista, pregunte al usuario la nota que ha sacado en cada asignatura, y después las muestre por pantalla con el mensaje "En **asignatura** has sacado **nota**" donde **asignatura** es cada una des las asignaturas de la lista y **nota** cada una de las correspondientes notas introducidas por el usuario.

In [ ]:
mate = int(input("introducí la nota de matematica"))
fisi = int(input("introducí la nota de fisica"))
quimi = int(input("introducí la nota de quimica"))
lengu = int(input("introducí la nota de lengua"))
histo = int(input("introducí la nota de historia"))
plasti = int(input("introducí la nota de plastica"))
info = int(input("introducí la nota de informatica"))

diccionario = {"matematicas": mate, "fisica" : fisi, "quimica" :  quimi, "lengua" : lengu, "historia": histo, "plastica" : plasti, "informatica" : info}
print(f"en matematicas has sacado {mate}")
print(f"en fisica has sacado {fisi}")
print(f"en quimica has sacado {quimi}")
print(f"en lengua has sacado {lengu}")
print(f"en historia has sacado {histo}")
print(f"en plastica has sacado {plasti}")
print(f"en informatica has sacado {info}")

introducí la nota de matematica10
introducí la nota de fisica7
introducí la nota de quimica5
introducí la nota de lengua9
introducí la nota de historia7
introducí la nota de plastica5
introducí la nota de informatica10
en matematicas has sacado 10
en fisica has sacado 7
en quimica has sacado 5
en lengua has sacado 9
en historia has sacado 7
en plastica has sacado 5
en informatica has sacado 10

### **Ejercicio 7**

Escribir un programa que pregunte al usuario los números ganadores de la lotería primitiva, los almacene en una lista y los muestre por pantalla ordenados de menor a mayor.

In [ ]:
numero1 = int(input("ingrese el primer numero ganador de la loteria"))
numero2 = int(input("ingrese el segundo numero ganador de la loteria"))
numero3 = int(input("ingrese el tercer numero ganador de la loteria"))
numero4 = int(input("ingrese el cuarto numero ganador de la loteria"))
numero5 = int(input("ingrese el quinto numero ganador de la loteria"))
numero6 = int(input("ingrese el sexto numero ganador de la loteria"))

lista = [numero1,numero2,numero3,numero4,numero5,numero6]
lista.sort()
print(f"Los numeros de la loteria primitiva ordenados son {lista}")

ingrese el primer numero ganador de la loteria15
ingrese el segundo numero ganador de la loteria4
ingrese el tercer numero ganador de la loteria7
ingrese el cuarto numero ganador de la loteria1
ingrese el quinto numero ganador de la loteria9
ingrese el sexto numero ganador de la loteria2
Los numeros de la loteria primitiva ordenados son [1, 2, 4, 7, 9, 15]

### **Ejercicio 8**

Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista, pregunte al usuario la nota que ha sacado en cada asignatura y elimine de la lista las asignaturas aprobadas. Al final el programa debe mostrar por pantalla las asignaturas que el usuario tiene que repetir.

In [ ]:
mate = int(input("introducí la nota de matematica"))
fisi = int(input("introducí la nota de fisica"))
quimi = int(input("introducí la nota de quimica"))
lengu = int(input("introducí la nota de lengua"))
histo = int(input("introducí la nota de historia"))
plasti = int(input("introducí la nota de plastica"))
info = int(input("introducí la nota de informatica"))

lista = [mate, fisi, quimi, lengu, histo, plasti,info]
if mate or fisi or quimi or lengu or histo or plasti or info >= 7:
 lista.pop()
 print(lista)

introducí la nota de matematica10
introducí la nota de fisica10
introducí la nota de quimica10
introducí la nota de lengua10
introducí la nota de historia10
introducí la nota de plastica10
introducí la nota de informatica10
[10, 10, 10, 10, 10, 10]

### **Ejercicio 9**

Escribir un programa que pida al usuario una palabra y muestre por pantalla el número de veces que contiene cada vocal.

In [ ]:
palabra = str(input("ingrese una palabra"))

set1 = {palabra}
set2 = {"a",""e","i","o","u""}
print("set1 intersection set2 : ",
      set1.intersection(set2))

SyntaxError: ignored

### **Ejercicio 10**

Escribir un programa que guarde en una variable el diccionario **{'Euro':'€', 'Dollar':'$', 'Yen':'¥'}**, pregunte al usuario por una divisa y muestre su símbolo o un mensaje de aviso si la divisa no está en el diccionario.

In [ ]:
diccionario =  {'Euro':'€', 'Dollar':'$', 'Yen':'¥'}
simbolo = str(input("ingrese una divisa"))
diccionario.get(simbolo)

#if simbolo == "Euro" or "Dollar" or "Yen":
  #print("la divisa no esta en el diccionario")

ingrese una divisaEuro

'€'

### **Ejercicio 11**

Escribir un programa que pregunte al usuario su nombre, edad, dirección y teléfono y lo guarde en un diccionario. Después debe mostrar por pantalla el mensaje "**nombre** tiene **edad** años, vive en **dirección** y su número de teléfono es **teléfono**".

In [ ]:
nombre1 = str(input("ingrese su nombre"))
edad1 = int(input("ingrese su edad"))
direccion1 = str(input("ingrese su direccion"))
telefono1 = int(input("ingrese su numero de telefono"))

diccionario = { "nombre" : {nombre1}, "edad" : {edad1},"direccion" : {direccion1}, "telefono" : {telefono1}} 
print(f"El nombre es {nombre1} tiene {edad1} años, vive en {direccion1} y su numero de telefono es {telefono1}")

ingrese su nombreNicolas
ingrese su edad28
ingrese su direccionCombate de pavon 1848
ingrese su numero de telefono44521120
El nombre es Nicolas tiene 28 años, vive en Combate de pavon 1848 y su numero de telefono es 44521120

### **Ejercicio 12**

Escribir un programa que guarde en un diccionario los precios de las frutas de la tabla, pregunte al usuario por una fruta, un número de kilos y muestre por pantalla el precio de ese número de kilos de fruta. Si la fruta no está en el diccionario debe mostrar un mensaje informando de ello.

![imagen.png]()

In [ ]:
diccionario = {"platano" : 1.35, "manzana": 0.80, "pera" : 0.85, "naranja" : 0.70}
fruta = str(input("ingrese el nombre de una fruta(platano,manzana,pera o naranja"))
kilos = int(input("ingrese el numero de kilos"))

oper = diccionario.get(fruta) * kilos
print(oper)

ingrese el nombre de una fruta(platano,manzana,pera o naranjamanzana
ingrese el numero de kilos3
2.4000000000000004

### **Ejercicio 13**

Escribir un programa que pregunte una fecha en formato dd/mm/aaaa y muestre por pantalla la misma fecha en formato dd de **mes** de aaaa donde **mes** es el nombre del mes.

In [ ]:
dia = input("ingrese un dia en numeros")
mes = input("ingrese un mes en numeros")
ano = input("ingrese un año en numeros")

diccionario = {"enero" : 1, "febrero" : 2, "marzo" : 3, "abril" : 4, "mayo": 5, "junio" : 6 , "julio": 7, "agosto": 8, "septiembre" : 9, "octubre": 10, "noviembre":11, "diciembre":12}
mes2 = diccionario.get(mes)
print(f"hoy es {dia} de {mes2} del {ano}")

ingrese un dia en numeros24
ingrese un mes en numerosabril
ingrese un año en numeros1996
hoy es 24 de 4 del 1996

### **Ejercicio 15**

Escribir un programa que almacene el diccionario con las notas de las asignaturas de un curso {'Matemáticas': 6, 'Física': 4, 'Química': 5} y después muestre por pantalla las notas de cada asignatura en el formato "**asignatura** tiene **nota** nota", donde **asignatura** es cada una de las asignaturas del curso, y **nota** son sus notas. Al final debe mostrar también el número total de notas del curso.

In [ ]:
diccionario = {"matematicas" : 6,"fisica" :4, "quimica" : 5}

notam = diccionario.get("matematicas")
notaf = diccionario.get("fisica")
notaq = diccionario.get("quimica")
print(f"matematicas tiene {notam} nota")
print(f"fisica tiene {notaf} nota")
print(f"quimica tiene {notaq} nota")

print(diccionario)

matematicas tiene 6 nota
fisica tiene 4 nota
quimica tiene 5 nota
{'matematicas': 6, 'fisica': 4, 'quimica': 5}